<!-- Main Content -->
<div class="container-fluid ms-5" style="margin-left: 260px; padding-top: 20px;">
    <h2 class="text-uppercase mb-4">Inscripción de Equipos</h2>
    <form action="/inscripcion-equipos" method="POST">
        <div class="col-md-6">
            <h4 class="mb-3">Inscribir nuevo equipo</h4>
            <div class="mb-3">
                <label for="torneo" class="form-label">Seleccione el Torneo</label>
                <select class="form-select" id="torneo" name="torneo" required>
                    <option value="" disabled selected>Seleccione un torneo...</option>
                    {{#each torneos}}
                    <option value="{{IdTorneo}}">{{Nombre}} - Cat {{NumCategoria}} - Div {{NumDivision}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <label for="equipo" class="form-label">Equipo a Inscribir</label>
                <select class="form-select" id="equipo" name="equipo" required>
                    <option value="" disabled selected>Seleccione un equipo...</option>
                    {{#each equipos}}
                    <option value="{{NumEquipo}}">{{Nombre}} - Cat {{NumCategoria}} - Div {{NumDivision}} </option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Inscribir Equipo</button>
            <div class="col-md-4 d-flex align-items-center">
                {{#if success}}
                <div class="alert alert-success mt-3" role="alert">
                    {{success}}
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger mt-3" role="alert">
                    {{error}}
                </div>
                {{/if}}
            </div>
        </div>
    </form>
</div>